* {
  margin: 0;
}
.app {
  background-color: white;
}
.app__header {
  background-color: #fafafa;
  object-fit: contain;
  border-bottom: 1px solid lightgray;
  padding: 20px;
  display: flex;
  justify-content: space-between;
}
.app__headerImage {
  object-fit: contain;
}
.app__singup {
  display: flex;
  text-align: center;
  flex-direction: column;
}

.app__posts {
  padding: 20px;
}
.post {
  background-color: white;
  max-width: 500px;
  border: 1px solid lightgray;
  margin-bottom: 45px;
}
.post__image {
  width: 100%;
  object-fit: contain;
  border-top: 1px solid lightgray;
  border-bottom: 1px solid lightgray;

}
.post__text {
  font-weight: normal;
  padding: 20px;
}
.post__header {
  display: flex;
  align-items: center;
  padding: 20px;
}
.post__avatar {
  margin-right: 10px;
}
